<nav class="bg-gray-100" dir="rtl">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between">
      <div class="flex space-x-4">
        <!-- Logo -->
        <div>
          <a href="#" class="flex items-center py-5 px-2 text-gray-700 hover:text-gray-900">
            <span class="font-bold">کار گروه</span>
          </a>
        </div>

        <!-- Primary Nav Menu -->
        <div class="md:flex items-center space-x-1">
          {% if user.is_authenticated %}
          <!-- Logout Link -->
          <a href="{% url 'users:logout' %}" class="py-5 px-3 text-gray-700 hover:text-gray-900">
            خروج
          </a>
          <a href="{% url 'materials:category_list' %}" class="block py-2 px-4 text-sm hover:bg-gray-200">
            کالا
          </a>
        </a>
        <a href="{% url 'reqmat:request_list' %}" class="block py-2 px-4 text-sm hover:bg-gray-200">
          درخواست کالا
        </a>
          {% else %}
          <!-- Login Link -->
          <a href="{% url 'users:login' %}" class="py-5 px-3 text-gray-700 hover:text-gray-900">
            ورود
          </a>
         
          {% endif %}
        </div>
      </div>

      <!-- Mobile Menu Button -->
      <div class="md:hidden flex items-center">
        <button class="mobile-menu-button">
          <svg class="w-6 h-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div class="mobile-menu hidden md:hidden">
    {% if user.is_authenticated %}
    <a href="{% url 'users:logout' %}" class="block py-2 px-4 text-sm hover:bg-gray-200">
      خروج
    </a>
    {% else %}
    <a href="{% url 'users:login' %}" class="block py-2 px-4 text-sm hover:bg-gray-200">
      ورود
    </a>
    {% endif %}
  </div>
</nav>

<!-- Include this script for mobile menu toggle -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelector(".mobile-menu-button").addEventListener("click", function () {
      document.querySelector(".mobile-menu").classList.toggle("hidden");
    });
  });
</script>
